main {
    text-align: center;
}

body {
    background-color: lightgray;
    margin: 0;
}

nav {
    padding: 20px;
    background-color: white;
    box-shadow: 0px 5px 10px;
    justify-content: space-evenly;
    display: flex;
}

a {
    text-decoration: none;
    padding: 10px;
}

#skiss {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

#happy {
    float: right;
    margin-left: 100px;
    margin-top: 100px;
    margin-right: 20px;
}

.title {
    font-size: 4em;
    text-align: center;
}

#page2 {
    text-align: center;
    margin-top: 300px;
}