main {
    text-align: center;
}

body {
    background-color: lightgray;
}

nav {
    padding: 20px;
    background-color: white;

}

a {
    text-decoration: none;
}

.title {
    font-size: 4em;
    text-align: center;
}
